div
  button(v-class="disabled: disabled" v-click="request") {{*method || '*'}}
  div(class="target") {{route}}
    span(v-if="method !== 'POST' && method !== 'PUT'") {{queries | queryParamsString}}
  x-combobox(v-attr="id: 'Accept:' + anchor" v-with="model: accept, options: accepts", placeholder="Accept")

api-handler(v-repeat="handlers" v-el="handler")

div.result(v-show="requested" v-class="success: result.status === 200, error: result.status !== 200")
  pre.code {{result.status}} {{result.message}} {{ result.type | braket ( ) }}
  ul.header
    li(v-repeat="result.headers || {}") {{$key}}: {{$value}}
  pre.body {{result.body || ''}}
  div.dismiss(v-click="dismiss") ×
