input(v-model="model" v-attr="placeholder: placeholder")
div(v-on="click: toggleOptions" v-if="isComboBox")
  img(src=require('url!./down.svg') width="6")
ul(v-show="visibleOptions")
  li(v-repeat="o:options" v-on="click: selectOption") {{o}}
