.fetch {
  text-decoration: underline;
}

.type .rest {
  color: gray;
}

footer {
  padding-top:    30px;
  padding-bottom: 50px;
  margin-top:     20px;
  text-align:     center;
  color:          #777;
  border-top:     1px solid #e5e5e5;
}

.description {
  margin-bottom: 20px;
}

table {
  margin-top:    15px !important;
  margin-bottom:  0px !important;
}

table.route-parameters {
  margin-top:       0px !important;
  border-bottom:    1px solid #ddd;
  background-color: #f5f5f5;
}

.method {
  margin-bottom:  20px;
  padding-bottom: 10px;
  border-bottom:  1px solid #ddd;
}

.method:last-child {
  margin-bottom:  0;
  padding-bottom: 0;
  border-bottom:  none;
}

.methods div{
  margin-left: 10px;
  color:       #999;
}

.panel-heading , h1 {cursor:pointer; }

.precondition { margin-bottom: 10px; }

.action { margin-bottom: 20px;}
.action:last-child { margin-bottom: 0;}

.no-description { color: #aaa }

.test-method { margin-right: 10px; font-weight: bold;}

.request-test { margin-bottom: 20px;}
.route-string { color: #aaa; }

.request-result pre { all: unset; }

.close-btn {
  font-size: 20px;
  font-weight: 700px;
  opacity:  0.2;
  cursor: pointer;
  position: relative;
  top: -6px;
}

.close-btn:hover {
  opacity: 1;
}

.accept-header {
  max-width: 300px;
  width: 20%;
}

.precondition-accept span {
  color: #428BCA;
  cursor: pointer;
}

.precondition-accept span:hover {
  color: #23527C;
  text-decoration: underline;
}

/* http://cpratt.co/twitter-bootstrap-callout-css-styles/ */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
