doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title html documentation develop
    link(rel="stylesheet" href="main.css")
  body
    script(type="application/json" id="data")
      include ./example.json
    script(src="main.js")
