aside
  div
    ul
      li(data-v-repeat="sideNav" data-v-component="api-nav-link")

main
  h1
    a(href='#') {{title}}
  section(data-v-repeat="data")
    h1(data-v-if="group") {{group}}
    api-route(data-v-repeat="pathes")

